<table>
	<tr>
		<th>ID</th>
		<th>LAST_NAME</th>
		<th>FIRST_NAME</th>
		<th>COURSE_TITLE</th>
		<th>COURSE_COMPLETED_DATE</th>
		<th>COURSE_EXPIRATION_DATE</th>
		<th>BU_CODE</th>
	</tr>
	
	<% @rows.each do |row| %>
		<tr>
			<td><%= row[:person_id] %></td>
			<td><%= row[:last_name] %></td>
			<td><%= row[:first_name] %></td>
			<td><%= row[:course_title] %></td>
			<td><%= row[:course_completed_date] %></td>
			<td><%= row[:course_expiration_date] %></td>
			<td><%= row[:bu_code] %></td>
		</tr>
	<% end %>
</table>