<h3>Directors</h3>
<input type="button" onclick="$('directors').toggle();" value="Hide/Show"/>
<div id="directors">
<table>
	<tr>
		<th align="left" width="200px">Name</th>
		<th align="left" width="200px">Position</th>
		<th align="left" width="200px">Trainings</th>
		<th align="left" width="200px">Phone Number(s)</th>
	</tr>
	<%= render :partial => "house_person_table_row", :collection => house.house_directors, :locals => {:house_id => house.id} %>
	<%= render :partial => "house_person_table_row", :collection => house.asst_div_directors, :locals => {:house_id => house.id} %>
	<%= render :partial => "house_person_table_row", :collection => house.clinical_managers, :locals => {:house_id => house.id} %>
	<%= render :partial => "house_person_table_row", :collection => house.asst_house_managers, :locals => {:house_id => house.id} %>
</table>
</div>

<h3>House Managers</h3>
<input type="button" onclick="$('house_managers').toggle();" value="Hide/Show"/>
<div id="house_managers">
<table>
	<tr>
		<th align="left" width="200px">Name</th>
		<th align="left" width="200px">Position</th>
		<th align="left" width="200px">Trainings</th>
		<th align="left" width="200px">Phone Number(s)</th>
	</tr>
	<% if house.house_managers.size == 0 %>
		<tr>
			<td colspan="4" align="center">
				<p><em>
					No House Managers are currently on this house profile.<br/>
					Please add house managers using the form at the top of this page.
				</em></p>
			</td>
		</tr>
	<% else %>
		<%= render :partial => "house_person_table_row", :collection => house.house_managers, :locals => {:house_id => house.id} %>
	<% end %>
</table>
</div>

<h3>Overnight Managers</h3>
<input type="button" onclick="$('overnight_staff').toggle();" value="Hide/Show"/>
<div id="overnight_staff">
<table>
	<tr>
		<th align="left" width="200px">Name</th>
		<th align="left" width="200px">Position</th>
		<th align="left" width="200px">Trainings</th>
		<th align="left" width="200px">Phone Number(s)</th>
	</tr>
	
	<% if house.awake_overnights.size == 0 %>
		<tr>
			<td colspan="4" align="center">
				<p><em>
					No Awake Overnight staff are currently on this house profile.<br/>
					Please add Awake Overnight staff using the form at the top of this page.
				</em></p>
			</td>
		</tr>
	<% else %>
		<%= render :partial => "house_person_table_row", :collection => house.awake_overnights, :locals => {:house_id => house.id} %>
	<% end %>
</table>
</div>

<h3>Relief Staff</h3>
<input type="button" onclick="$('relief_staff').toggle();" value="Hide/Show"/>
<div id="relief_staff">
<table>
	<tr>
		<th align="left" width="200px">Name</th>
		<th align="left" width="200px">Position</th>
		<th align="left" width="200px">Trainings</th>
		<th align="left" width="200px">Phone Number(s)</th>
	</tr>
	
	<% if house.relief_staff.size == 0 %>
		<tr>
			<td colspan="4" align="center">
				<p><em>
					No relief staff are currently on this house profile.<br/>
					Please add relief staff using the form at the top of this page.
				</em></p>
			</td>
		</tr>
	<% else %>
		<%= render :partial => "house_person_table_row", :collection => house.relief_staff, :locals => {:house_id => house.id} %>
	<% end %>
	</tr>
</table>
</div>

<h3>Overtime Staff</h3>
<input type="button" onclick="$('overtime_staff').toggle();" value="Hide/Show"/>
<div id="overtime_staff">
<table>
	<tr>
		<th align="left" width="200px">Name</th>
		<th align="left" width="200px">Position</th>
		<th align="left" width="200px">Trainings</th>
		<th align="left" width="200px">Phone Number(s)</th>
	</tr>
	
	<% if house.overtime_staff.size == 0 %>
		<tr>
			<td colspan="4" align="center">
				<p><em>
					No relief staff are currently on this house profile.<br/>
					Please add relief staff using the form at the top of this page.
				</em></p>
			</td>
		</tr>
	<% else %>
		<%= render :partial => "house_person_table_row", :collection => house.overtime_staff, :locals => {:house_id => house.id} %>
	<% end %>
	</tr>
</table>
</div>