<% house = houses_list_item -%>
<a name="house_<%= house.id %>">
<li>
	<p>
		<b><%= house.name %></b><br/>
		(<%= link_to "View", house %> | <%= link_to "Edit", edit_house_url(house) %> | <%= link_to 'Delete', house, :method => :delete, :confirm => "'#{house.name}' will be permanently deleted. Are you sure you want to do this?" %> )
	</p>
	<% address = house_address(house) -%>
	<% unless address.blank? -%>
	<p><%= address %></p>
	<% end -%>
	<% phones = house_phones(house) -%>
	<% unless phones.blank? -%>
	<p><%= phones %></p>
	<% end -%>
</li>
</a>