<div align="right">
	<%= link_to "Houses Index", houses_url %> | <%= link_to "Edit House", edit_house_url(@house) %>
</div>
<h1><%= @house.name %></h1>
<p>
	Cost Center: <%= @house.bu_code %><br/>
	
	<%= house_address @house %><br/>

	<%= house_phones @house %>
</p>

<div id="house_detail">
<%= render :partial => 'house_view', :object => @house %>
</div>

<% unless @house.outside_agency_staff == House::DEFAULT_FIELD_TEXT -%>
<h3>Outside Agency Staff</h3>
<div id="agency_staff">
<p><%= @house.outside_agency_staff %></p>
</div>
<% end -%>

<% unless @house.overview == House::DEFAULT_FIELD_TEXT -%>
<h3>Overview</h3>
<div id="overview">
<p><%= @house.overview %></p>
</div>
<% end -%>

<% unless @house.ratio == House::DEFAULT_FIELD_TEXT -%>
<h3>Ratio</h3>
<div id="ratio">
<p><%= @house.ratio %></p>
</div>
<% end -%>

<% unless @house.trainings_needed == House::DEFAULT_FIELD_TEXT -%>
<h3>Trainings Needed</h3>
<div id="trainings_needed">
<p><%= @house.trainings_needed %></p>
</div>
<% end -%>

<% unless @house.medication_times == House::DEFAULT_FIELD_TEXT -%>
<h3>Medication Times</h3>
<div id="medication_times">
<p><%= @house.medication_times %></p>
</div>
<% end -%>

<% unless @house.waivers == House::DEFAULT_FIELD_TEXT -%>
<h3>Waivers</h3>
<div id="waivers">
<p><%= @house.waivers %></p>
</div>
<% end -%>

<% unless @house.keys == House::DEFAULT_FIELD_TEXT -%>
<h3>Keys</h3>
<div id="keys">
<p><%= @house.keys %></p>
</div>
<% end -%>

<% unless @house.schedule_info == House::DEFAULT_FIELD_TEXT -%>
<h3>Schedule Info</h3>
<div id="schedule_info">
<p><%= @house.schedule_info %></p>
</div>
<% end -%>

<% unless @house.behavior_plans == House::DEFAULT_FIELD_TEXT -%>
<h3>Behavior Plans</h3>
<div id="behavior_plans">
<p><%= @house.behavior_plans %></p>
</div>
<% end -%>

<% unless @house.individuals.empty? -%>
<h3>Individuals</h3>
<div id="individuals">
<div id="individuals_detail">
<%= render :partial => 'individuals', :object => @house.individuals, :locals => {:house_id => @house.id} %>
</div>
</div>
<% end -%>

<% unless @house.phone_numbers == House::DEFAULT_FIELD_TEXT -%>
<h3>Phone Numbers</h3>
<div id="phone_numbers">
<p><%= @house.phone_numbers %></p>
</div>
<% end -%>