<h1>Listing directors</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Nickname</th>
    <th>Home phone</th>
    <th>Mobile phone</th>
    <th>Email address</th>
    <th>Gender</th>
    <th>Address street</th>
    <th>Address city</th>
    <th>Address state</th>
    <th>Address zip</th>
    <th>Doh</th>
  </tr>

<% for director in @directors %>
  <tr>
    <td><%=h director.first_name %></td>
    <td><%=h director.last_name %></td>
    <td><%=h director.nickname %></td>
    <td><%=h director.home_phone %></td>
    <td><%=h director.mobile_phone %></td>
    <td><%=h director.email_address %></td>
    <td><%=h director.gender %></td>
    <td><%=h director.address_street %></td>
    <td><%=h director.address_city %></td>
    <td><%=h director.address_state %></td>
    <td><%=h director.address_zip %></td>
    <td><%=h director.doh %></td>
    <td><%= link_to 'Show', director %></td>
    <td><%= link_to 'Edit', edit_director_path(director) %></td>
    <td><%= link_to 'Destroy', director, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New director', new_director_path %>
