<p>
  <b>First name:</b>
  <%=h @director.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @director.last_name %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @director.nickname %>
</p>

<p>
  <b>Home phone:</b>
  <%=h @director.home_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%=h @director.mobile_phone %>
</p>

<p>
  <b>Email address:</b>
  <%=h @director.email_address %>
</p>

<p>
  <b>Gender:</b>
  <%=h @director.gender %>
</p>

<p>
  <b>Address street:</b>
  <%=h @director.address_street %>
</p>

<p>
  <b>Address city:</b>
  <%=h @director.address_city %>
</p>

<p>
  <b>Address state:</b>
  <%=h @director.address_state %>
</p>

<p>
  <b>Address zip:</b>
  <%=h @director.address_zip %>
</p>

<p>
  <b>Doh:</b>
  <%=h @director.doh %>
</p>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
