<div align="right">
	<form method="post" action="people_search">
	<%= text_field_with_auto_complete :person, :first_name %> <%= submit_tag "Search" %>
	</form>
</div>
<hr>
<div id="search_results">
<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<% @people.each do |person| %>
	<tr>
		<td><%= person.first_name%></td>
		<td><%= person.last_name %></td>
		<td><%= person.email_address %></td>
		<td><%= link_to "View Profile", person %>
	</tr>
	<% end %>
</table>
</div>