<% unless personnel_detail.changes[:created].size == 0 %>
<h3>Created</h3>
<p>
<% personnel_detail.changes[:created].each do |pid| %>	
<% person = Person.find(pid) -%>
<%= link_to person.name, person %><br/>
<% end %>
</p>
<% end %>

<% unless personnel_detail.changes[:updated].size == 0 %>
<h3>Updated</h3>
<p>
<% personnel_detail.changes[:updated].each do |change| %>
<%= Person.find(change[0]).name %>'s <%= change[1] %> from <%= change[2] %> to <%= change[3] %><br/>
<% end %>
</p>
<% end %>

<% unless personnel_detail.changes[:destroyed].size == 0 %>
<h3>Updated</h3>
<p>
<% personnel_detail.changes[:destroyed].each do |pname| %>	
<%= pname %><br/>
<% end %>
</p>
<% end %>