<div id="new_filter_form">
<div id="filters_title">Add A Filter</div>
<% form_remote_tag :url => url_for(:action => 'add_filter') do %>
	<%= hidden_field_tag 'advanced_search_id', search_filters.id %>
	<table>
		<tr>
			<td>
				<select name="new_filter_name" id="new_filter_name" onchange="$('spinner').show();">
					<%= options_for_select @empty_filters.collect { |name| [name.humanize, name] }, @empty_filters.first %>
				</select>
			</td>
			<td id="new_filter_form_field">
				<%= render :partial => 'search_filter_form_field', :object => @empty_filters.first, :locals => {:search => search_filters} %>
			</td>
			<td>
				<%= submit_tag 'Add Filter', :onclick => "$('spinner').show();" %>
			</td>
			<td align="right">
				<div id="spinner" class="spinner"><img src="/images/spinner.gif"></div>
				<script type="text/javascript">
				$('spinner').toggle();
				</script>
			</td>
		</tr>
	</table>
<% end %>
</div>

<%= observe_field 'new_filter_name',
									:url => {:action => 'update_new_filter_type', :params => {:advanced_search_id => search_filters.id}},
									:frequency => 1,
									:with => 'filter_name' %>
			

<div id="current_filters">
<div id="filters_title">Current Filters</div>
<table width="100%">
	<%= render 	:partial => 'search_filter', 
							:collection => @nonempty_filters,
							:locals => {:search => search_filters} %>
</table>
</div>