<h1>Advanced Search</h1>
<p class="instructions">To perform an advanced search, fill out the form below according to the information of the staff member you are searching for and press submit. You will be able to come back here and edit these search options later on.</p>
<hr>
<% form_for @advanced_search do |f| %>
	<%= f.hidden_field :id %>
	<div id="profile">
		
		<p>
		<b>First Name:</b> <%= f.text_field :first_name, :size => 20 %> <b>Last Name:</b> <%= f.text_field :last_name, :size => 20 %>
		</p>
		
	<p><b>Nickname:</b> <%= f.text_field :nickname, :size => 12 %> 
	   <b>Gender:</b> <%= f.radio_button :gender, 'Male' %> Male <%= f.radio_button :gender, 'Female' %> Female <%= f.radio_button :gender, '' %> Either</p>

	<p>
		<b>Hired Between:</b><br/>
		<%= f.date_select :hired_before %> - <%= f.date_select :hired_after %>
	</p>

	<p>
		<b>Email:</b><br/>
		<%= f.text_field :email %>
	</p>

	<p>
		<b>Home Phone:</b><br/>
		<%= f.text_field :home_phone %>
	</p>

	<p>
		<b>Mobile Phone:</b><br/>
		<%= f.text_field :mobile_phone %>
	</p>

	<p>
	<b>Address</b><br/>
	<%= f.text_field :address_street, :size => 30 %> <%= f.text_field :address_city, :size => 12 %>, <%= state_select @person, :address_state, 'US', {:selected => "Massachusetts"} %> <%= f.text_field :address_zip, :size => 5 %>
	</p>
	
	<p>
	<b>Certifications</b><br/>
	<em>TODO: Enable Searching w/ Certifications</em>
	<!-- f.collection_select :certifications, Certification.all, :id, :name > < button_to_function 'Add' -->
	</p>

	<p align="center"><%= f.submit "Search" %></p>

	</div>
<% end %>