<p>
  <b>First name:</b>
  <%=h @worker.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @worker.last_name %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @worker.nickname %>
</p>

<p>
  <b>Home phone:</b>
  <%=h @worker.home_phone %>
</p>

<p>
  <b>Mobile phone:</b>
  <%=h @worker.mobile_phone %>
</p>

<p>
  <b>Email address:</b>
  <%=h @worker.email_address %>
</p>

<p>
  <b>Gender:</b>
  <%=h @worker.gender %>
</p>

<p>
  <b>Address street:</b>
  <%=h @worker.address_street %>
</p>

<p>
  <b>Address city:</b>
  <%=h @worker.address_city %>
</p>

<p>
  <b>Address state:</b>
  <%=h @worker.address_state %>
</p>

<p>
  <b>Address zip:</b>
  <%=h @worker.address_zip %>
</p>

<p>
  <b>Doh:</b>
  <%=h @worker.doh %>
</p>


<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
